h1{ background-color: #cccccc;
  padding: 5px;
  color: #000000;}

body{ background-color: #00005D;
  font-family: Verdana, Arial, sans-serif; }

header { float: right;
  width: 200px;
  font-weight: bold;
  letter-spacing: 0.1em; }
